{
	email {$ACME_EMAIL}
}

www.{$SITE_DOMAIN} {
	redir https://{$SITE_DOMAIN}{uri} permanent
}

{$SITE_DOMAIN} {
	encode gzip
	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
	}
	handle /api/v1/* {
		reverse_proxy api:8080
	}
	handle {
		reverse_proxy frontend:3000
	}
}

{$API_DOMAIN} {
	encode gzip
	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
	}
	reverse_proxy api:8080
}
